# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db